streamlit
pandas
numpy
jieba
wordcloud
matplotlib
seaborn
serpapi
plotly
requests
beautifulsoup4
feedparser
newspaper3k
lxml_html_clean
bertopic
sentence-transformers
umap-learn
hdbscan
spacy
transformers
torchvision
playwright==1.49.0
